{% extends 'contacts/menuprueba3.html' %}  

{% load static %}

{% block content %}
    <style>
        .header {
            background-color: #007bff;
            color: white;
            padding: 20px;
            border-radius: 5px;
        }
        .form-label {
            font-weight: bold;
        }
        .table th {
            background-color: #e9ecef;
        }
        .table-hover tbody tr:hover {
            background-color: #f1f1f1;
        }
        .container{
            background-color: #B0E0E6;
        }
        html, body{
            background-color:rgb(221, 160, 221,0.8);
        }
    
    </style>
<body >
    <div class="container py-5">

    <div class="d-flex justify-content-between mb-3">
        <form action="{% url 'buscar_orden_produccion' %}" method="get" style="max-width: 450px;">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Buscar por orden de producción" name="q" value="{{ request.GET.q }}">
                <button class="btn btn-primary">Buscar</button>
            </div>
        </form>
        <div>
            <a href="{% url 'orden_produccion2' %}" class="btn btn-outline-primary">Siguiente</a>
            <a href="{% url 'export_orden_produccion_pdf' %}" class="btn btn-outline-primary">Descargar Orden de Producción</a>
        </div>
    </div>

    <form method="post" action="{% url 'ordenproduccion_new' %}">
        {% csrf_token %}
        <input type="hidden" name="id" value="{% if OrdenProduccion %}{{ OrdenProduccion.id }}{% endif %}">

        <div class="card mb-4">
            <div class="card-header">
                <h5 class="mb-0">Información de la Orden de Producción</h5>
            </div>
            <div class="card-body">
                <form method="post" action="{% url 'ordenproduccion_new' %}">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{% if OrdenProduccion %}{{ OrdenProduccion.id }}{% endif %}">
        
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="producto" class="form-label">Producto:</label>
                            <input type="text" id="producto" name="producto" class="form-control" value="{% if OrdenProduccion %}{{ OrdenProduccion.producto }}{% endif %}" placeholder="Producto" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="clavesku_maquila" class="form-label">CLAVE/SKU Maquila:</label>
                            <input type="text" id="clavesku_maquila" name="clavesku_maquila" class="form-control" value="{% if OrdenProduccion %}{{ OrdenProduccion.claveskumaquila }}{% endif %}" placeholder="CLAVE/SKU Maquila" required>
                        </div>
                    </div>
        
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="presentacion" class="form-label">Presentación:</label>
                            <input type="text" id="presentacion" name="presentacion" class="form-control" value="{% if OrdenProduccion %}{{ OrdenProduccion.presentacion }}{% endif %}" placeholder="Presentación" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="noorden_produccion" class="form-label">No. Orden de Producción:</label>
                            <input type="text" id="noorden_produccion" name="noorden_produccion" class="form-control" value="{% if OrdenProduccion %}{{ etiqueta.noordenproduccion }}{% endif %}" placeholder="No. Orden de Producción" required>
                        </div>
                    </div>
        
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="numero_lote" class="form-label">Número de lote:</label>
                            <input type="text" id="numero_lote" name="numero_lote" class="form-control" value="{% if OrdenProduccion %}{{ OrdenProduccion.numerolote }}{% endif %}" placeholder="Número de Lote" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="fecha_caducidad" class="form-label">Fecha de caducidad:</label>
                            <input type="date" id="fecha_caducidad" name="fecha_caducidad" class="form-control" value="{% if OrdenProduccion %}{{ OrdenProduccion.fechacaducidad }}{% endif %}" required>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="fechainicio_proceso" class="form-label">Fecha inicio proceso:</label>
                            <input type="date" id="fechainicio_proceso" name="fechainicio_proceso" class="form-control" value="{% if OrdenProduccion %}{{ OrdenProduccion.fechainicioproceso }}{% endif %}" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="fechatermino_proceso" class="form-label">Fecha termino de proceso:</label>
                            <input type="date" id="fechatermino_proceso" name="fechatermino_proceso" class="form-control" value="{% if OrdenProduccion %}{{ OrdenProduccion.fechaterminoproceso }}{% endif %}" required>
                        </div>
                    </div>
        
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="rendimiento_teorico" class="form-label">Rendimiento teorico:</label>
                            <input type="number" id="rendimiento_teorico" name="rendimiento_teorico" class="form-control" value="{% if etiqueta %}{{ OrdenProduccion.rendimientoteorico }}{% endif %}" placeholder="Rendimiento teorico" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="rendimiento_real" class="form-label">Rendimiento real:</label>
                            <input type="number" id="rendimiento_real" name="rendimiento_real" class="form-control" value="{% if OrdenProduccion %}{{ OrdenProduccion.rendimientoreal }}{% endif %}" placeholder="Rendimiento real" required>
                        </div>
                    </div>
        
                    <div class="d-flex justify-content-between">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <a href="{% url 'Menu' %}" class="btn btn-secondary">Volver</a>
                    </div>
                </form>
            </div>
        </div>
</form>

    <div class="table-responsive">
        <table class="table table-hover mt-5">
            <thead>
                <tr>
                    <th>SKU MP</th>
                    <th>Material</th>
                    <th>No. Lote</th>
                    <th>Unidad</th>
                    <th>Cantidad</th>
                    <th>Surtió</th>
                    <th>Verificó</th>
                    <th>Acciones</th>
                </tr>
            </thead> 
            <tbody>
                {% for DetalleOrden in object_list %}
                <tr>
                    <td>{{ DetalleOrden.skump|default:'-' }}</td>
                    <td>{{ DetalleOrden.material|default:'-' }}</td>
                    <td>{{ DetalleOrden.nolote|default:'-' }}</td>
                    <td>{{ DetalleOrden.unidad|default:'-' }}</td>
                    <td>{{ DetalleOrden.cantidad|default:'-' }}</td>
                    <td>{{ DetalleOrden.surtio|default:'-' }}</td>
                    <td>{{ DetalleOrden.verifico|default:'-' }}</td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <a href="{% url 'ordenproduccion_edit' DetalleOrden.pk %}" class="btn btn-primary">Editar</a>
                            <a href="{% url 'ordenproduccion_delete' DetalleOrden.pk %}" class="btn btn-danger">Eliminar</a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</body>
{% endblock content %}
